<section class="page-404">
  <div class="container">
    <div>
      <h1 class="page-404__title">404</h1>
      <p class="page-404__text">Looks like this page went OB. Even GPS couldn't find it.</p>
      <a href="{{ routes.root_url }}" class="btn btn-walnut btn-lg">Back to Safety</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "404 Page",
  "settings": [],
  "templates": ["404"]
}
{% endschema %}
